[submodule "third_party/asparagus"]
	path = third_party/asparagus
	url = https://github.com/MedARC-AI/asparagus.git
[submodule "third_party/asparagus_preprocessing"]
	path = third_party/asparagus_preprocessing
	url = https://github.com/MedARC-AI/asparagus_preprocessing.git
